body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 50px;
    color: white;
    margin: 0;
    border: solid;
    border-color: white;
    border-radius: 3px;
    display: inline;
    padding: 20px 80px;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}

h2 {
    font-size: 30px;
    padding: 20px 30px;

}

.vizitka {
    background-image: url(hlavicka.jpg);
    padding: 150px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.menu {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #A6ACAF;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 20px 30px;
    display: inline-block;
}

a:hover, a:focus, a:active {
    background-color: #A3E4D7;
}

.paticka {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #A6ACAF;
}

.spojeni {
    padding: 20px, 30px;
    margin: 50px;
}

.ja, .hracky, .foto, .macron {
    width: 150px;
    border-radius: 10px;
    margin: 20px;
    border: solid;
    border-color: #A6ACAF;
    float: left;
    margin: 0 30px 30px 0;
}

.omne,
.hackovani,
.foceni,
.peceni{
    line-height: 2;
    padding: 20px 5px;
    margin: 20px 50px;
}

section{
    padding:50px 15%;
    overflow: auto;
}

